<ul class="list-group mt-4 col-md-6 offset-md-3">
  <li class="list-group-item" *ngFor="let city of cities">
    <div>{{ city.name }}, {{ city.countryCode }}</div>
    <div class="float-right"><a class="text-danger remove-task" (click)="remove(city)">remove</a></div>
  </li>
</ul>

<div *ngIf="!adding" class="mt-4 col-md-6 offset-md-3">
  <button type="button" class="btn btn-primary" (click)="startAdding()">add</button>
</div>


<ul *ngIf="adding" class="list-group mt-4 col-md-6 offset-md-3">
  <li class="list-group-item">
    <form [formGroup]="addCityForm" (ngSubmit)="add()">
      <input type="text" autocomplete="off" class="form-control" formControlName="name" placeholder="city name">
      <input type="text" autocomplete="off" class="form-control" formControlName="countryCode" placeholder="country code">
      <div class="mt-2 float-right">
        <button type="submit" class="btn btn-sm btn-outline-info">add</button>
        <button class="btn btn-sm btn-outline-warning ml-2" (click)="stopAdding()">discard</button>
      </div>
    </form>
  </li>
</ul>