<div class="row">
  <h6 class="offset-md-3 mt-2 pl-4">Current: {{ currentProvider }}</h6>
</div>
<div class="row">
  <form class="col-md-6 offset-md-3 mt-2" [formGroup]="providerForm" (ngSubmit)="changeProvider()">
    <div class="form-group">
      <select class="form-control" formControlName="provider">
        <option disabled selected value style="display: none"></option>
        <option *ngFor='let provider of providers' value="{{ provider }}">{{ provider }}</option>
      </select>
      <button class="btn btn-primary mt-3">Change</button>
    </div>
  </form>
</div>
