<div class="row mt-5">
  <div class="dropdown offset-md-3 col-md-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose city: 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a *ngFor="let city of cities" class="dropdown-item" href="#" (click)="setCity(city)">
        {{ city.name }}, {{ city.countryCode }}
      </a>
    </div>
  </div>
</div>

<div *ngIf="city && weather" class="row mt-4">
  <div class="card offset-md-3 col-md-4">
    <div class="card-body">
      <h5 class="card-title">{{ city.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ city.countryCode }}</h6>
      <div class="weather-info mb-1">
        <p class="card-text text-info">Temperature: <span class="font-weight-bold">{{ weather.temperature }}°C</span></p>
        <p class="card-text text-info">Humidity: <span class="font-weight-bold">{{ weather.humidity }}%</span></p>
        <p class="card-text text-info">Pressure: <span class="font-weight-bold">{{ weather.pressure }} hPa</span></p>
        <p class="card-text text-info">Wind: <span class="font-weight-bold">{{ weather.windSpeed }} km/h</span></p>
      </div>
      <a href="#" class="card-link text-secondary" (click)="getWeather()">Refresh</a>
    </div>
  </div>
</div>

<div *ngIf="isAdmin" class="row mt-5">
  <div class="offset-md-3">
    <p class="text-warning">
      Oh la la! Seems like we have an admin here! <br>
      Checkout our <a href="/admin">admin pannel</a>
    </p>
  </div>
</div>
