<div class="row mt-5">
  <div class="dropdown offset-md-3 col-md-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose city: 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a *ngFor="let city of cities" class="dropdown-item" href="#" (click)="setCity(city)">
        {{ city.name }}, {{ city.countryCode }}
      </a>
    </div>
  </div>
  <h5 *ngIf="city" class="text-secondary col-md-6">Current city: {{ city.name }}, {{ city.countryCode }}</h5>
</div>
